<div class="container pt-5">
  <div class="row justify-content-evenly">
      <div class="col-md-4">
        <h3>Products</h3>

        <% @products.each do |product| %>
          <div class="card mb-3 p-2">
            <div class="card-title"><%= product.name %></div>
            <div class="card-text">
              <strong>Price:</strong> €<%= product.price / 100.00 %>
            </div>
          </div>
        <% end %>
      </div>

    <div class="col-md-4">
      <h3 class="mb-5">New Order Form</h3>

      <%= form_for @order do |f| %>
        <div class="mb-3">
          <%= f.label :name, 'Customer Name:', class: 'form-label' %>
        </div>

        <div class="mb-3">
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.submit 'Create', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
